name: flutter_api
description: "A new Flutter project."
publish_to: 'none'  # Avoid publishing to pub.dev if it's private

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cached_network_image: ^3.3.1
  cupertino_icons: ^1.0.8
  http: ^1.5.0
  dio: ^5.2.1
  shared_preferences: ^2.2.2
  palette_generator: ^0.3.3
  go_router: ^17.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
